services:
  website:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: website
    container_name: blueunion-website
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    extra_hosts:
      - "host.docker.internal:host-gateway"

  admin:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: admin
    container_name: blueunion-admin
    restart: unless-stopped
    ports:
      - "3002:3000"
    env_file:
      - .env.production
    extra_hosts:
      - "host.docker.internal:host-gateway"
